- if admin?
  <a href="/newpost">New post</a>
- if @posts.empty?
  %p Nothing posted yet
- else
  - @posts.each do |post|
    #post
      %a{:href => "post/#{post.slug}"} #{post.title}
      - if admin?
        %a{:href => "edit/#{post.slug}"} edit post
      #datetime
        #date= post.created_at.strftime("%a %d %b %Y")
        #time= post.created_at.strftime("%H:%M")
      :markdown
        #{post.text}
